footer {
	width: 100%;
	padding: 1.4rem 0 0.6rem;
	background-color: var(--color-footer-bg);

	display: flex;
	flex-direction: column;
}

footer article {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 auto;
	gap: 40px;
}

footer article section {
	max-width: 255px;
}

footer article section:first-child {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer article section:first-child p {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

footer article section:first-child p span {
	width: 28px;
	height: 28px;
	padding: 0.4rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

footer article section:last-child {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

footer article section:last-child a {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 6px;
	color: #fff;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
}

footer article section:last-child a:hover {
	opacity: 0.8;
}

footer article section:last-child a span {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .footer-copy {
	text-align: center;
	margin: 0.6rem 0 0;
	font-size: 0.9rem;
	color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 740px) {
	footer {
		margin-top: 2rem;
		border-radius: 20px 20px 0 0;
	}
}

@media screen and (max-width: 470px) {
	footer article {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		padding: 0 1.5rem;
	}

	footer article section:last-child {
		flex-direction: row;
		gap: 24px;
	}

	footer article section:last-child a {
		justify-content: flex-start;
	}
}
