.projects-main {
	display: flex;
}

.projects-main .projects-container {
	margin: 2rem auto;
	max-width: 48rem;
	padding-left: 1rem;
}

@media screen and (max-width: 740px) {
	.projects-main {
		padding: 0rem 0.9rem;
	}

	.projects-main .projects-container {
		margin: 2rem auto 0 auto;
	}
}
