.projects-main {
	display: flex;
}

.projects-main .projects-container {
	margin: 12% auto 3%;
	max-width: 48rem;
}

@media screen and (max-width: 740px) {
	.projects-main {
		padding: 0rem 0.9rem;
	}
}
